@charset "utf-8";
/* CSS Document */
@font-face{

font-family: 'Soria';

src: url('font/Soria/Soria font.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}


 html,body{
 font-family: 'Soria';
	width:100%;
	height:100%;
}
.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{

	color:white;
	display:block;
	padding: 0 20px;
	line-height:40px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .1s ease-in-out;
	border-bottom:1px solid white;
	text-align:left;
	width:63px;
}
.navigation li:hover,.active{
	font-size:35px;
	cursor:pointer;
	width:100px!important;
}




.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}

.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}

.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(img/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-image:url(img/82.png);
	
}

.portfoliofoto{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: absolute;
	right: 850px;
	top: 50px;
}
.portfoliofotoLine{
	position: relative;
	top: 50%;
}

.textblock1{
	position: absolute;
	width: 400px;
	height: 300px;
	top: 45%;
	left: 16%;
	text-align: center;
	display: block;
	font-size: 28px;
	color: white;
	font-weight: 13px;
	
}

.textblock2{
	position: absolute;
	width: 630px;
	height: 350px;
	top: 44%;
	left: 54%;
	text-align: left;
	display: block;
	font-size: 28px;
	color: white;
	font-weight: 13px;
	
}

.caption1{
	position: relative;
	left: 30%;
}


// .text-typing{
//    width: 40em;
//     color:green;
//     font-size: 22px;
//     font-family: 'Marck Script', cursive;
//     white-space:nowrap;
//     overflow:hidden;
//     -webkit-animation: type 5s steps(50, end);
//     animation: type 5s steps(50, end);
// }
// @keyframes type{
//     from { width: 0; }
// }
 
// @-webkit-keyframes type{
//     from { width: 0; }
// }
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-image:url(img/80.png);
	
}

.portfolio-items li {
display:inline;
float:left;
list-style:none;
position:relative;
margin:0px;
}

.portfolio-items li img {
display:inline;
-moz-border-radius:5px;
-moz-box-shadow:0 0 5px rgba(0,0,0,0.35);
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.35);
padding:0px;
margin:0px;
}

.portfolio-items li div.caption h3{
font-weight:500;
font-size:26px;
text-align: center;
text-transform:uppercase;
margin:35px;
border-bottom:1px solid #aaa;
text-shadow:1px 1px 1px #303857;

}

.portfolio-items li div.caption{
display:block;
background:rgba(0,0,0,0.7);
color:#fff;
font-weight:400;
font-size:25px;
position:absolute;
text-align: center;
overflow:hidden;
text-shadow:1px 1px 1px #303857;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
}

.portfolio-items li:hover div.caption{
width:920px;
height:200px;
opacity:1;
filter:alpha(opacity=80);
}

.portfolio-items li div.caption {
top:0px;
right:0px;
width:0;
height:0;
}

.projectblock1{
	width: 920px;
	height: 200px;
	
	float: left;
	margin-top: 40px;
	margin-left: 200px;
}

.fotoslide1{
	width: 240px;
	height: 200px;
	padding: 0px;
	margin:0px;

}
.fotoslide2{
	width: 240px;
	height: 200px;
	padding: 0px;
	margin:0px;

}

.fotoslide3{
	width: 230px;
	height: 200px;
	padding: 0px;
	margin:0px;

}
.fotoslide4{
	width: 190px;
	height: 200px;
	padding: 0px;
	margin:0px;
}



.projectblock2{
	width: 920px;
	height: 200px;

	float: left;
	margin-top: 40px;
	margin-left: 200px;
}


.fotoslide5{
	width: 330px;
	height: 200px;
	padding: 0px;
	margin:0px;
}
.fotoslide7{
	width: 340px;
	height: 200px;
	padding: 0px;
	margin:0px;
}

.fotoslide6{
	width: 230px;
	height: 200px;
	padding: 0px;
	margin:0px;
}


.projectblock3{
	width: 200px;
	height: 200px;
	background-color: green;
	float: left;
	margin-top: 200px;
	margin-left: 50px;
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-image:url(img/191.jpg);
}




.contactblock{
	width: 300px;
	height: 200px;
	float: left;
	margin-left: 250px;
	margin-top: 300px;
	text-align: center;
	
}

.socialblock{
	width: 300px;
	height: 200px;
	float: right;
	margin-right: 250px;
	text-align: center;
	
	margin-top: 300px;
}
hr{
	width: 75%;
}
.contactList{
	font-family: 'Soria';
	font-size: 25px;
	color: white;
}

a:hover {
color: #f00;
}

a {
text-decoration:none;
color: white;
}

footer{
	
	position: relative;
	top: 95%;
}